# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo

# Virtualenv
.env
.venv
env/
venv/
ENV/

# Django
db.sqlite3
media/
static/
*.log

# VS Code / PyCharm
.vscode/
.idea/

# Docker
*.pid

# Env config
.env